#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --release -p rofd-ffi -p rofd --no-default-features --features rofd/qt-reader

override_dh_auto_install:
	install -D -m0755 target/release/rofd \
		debian/rofd/usr/bin/rofd
	install -D -m0644 debian/rofd.desktop \
		debian/rofd/usr/share/applications/rofd.desktop
	install -D -m0644 resources/logo.png \
		debian/rofd/usr/share/icons/hicolor/256x256/apps/rofd.png
	install -D -m0644 target/release/librofd_ffi.so \
		debian/librofd-ffi0/usr/lib/$(DEB_HOST_MULTIARCH)/librofd_ffi.so.0.1.0
	install -D -m0644 crates/rofd-ffi/include/rofd.h \
		debian/librofd-ffi-dev/usr/include/rofd.h
	dh_link -plibrofd-ffi0 \
		usr/lib/$(DEB_HOST_MULTIARCH)/librofd_ffi.so.0.1.0 \
		usr/lib/$(DEB_HOST_MULTIARCH)/librofd_ffi.so.0
	dh_link -plibrofd-ffi-dev \
		usr/lib/$(DEB_HOST_MULTIARCH)/librofd_ffi.so.0.1.0 \
		usr/lib/$(DEB_HOST_MULTIARCH)/librofd_ffi.so

override_dh_auto_clean:
	cargo clean
